version: "3.9"

services:
  neo4j:
    image: neo4j:5.19
    container_name: neo4j-local
    ports:
      - "7474:7474"
      - "7687:7687"
    env_file:
      - .env
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs

volumes:
  neo4j_data:
  neo4j_logs:
